<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

            <!-- FontAwesome CSS -->
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

            <!-- ElegantFonts CSS -->
            <link rel="stylesheet" href="{{ asset('css/elegant-fonts.css') }}">

            <!-- themify-icons CSS -->
            <link rel="stylesheet" href="{{ asset('css/themify-icons.css') }}">

            <!-- Swiper CSS -->
            <link rel="stylesheet" href="{{ asset('css/swiper.min.css') }}">

            <!-- Styles -->
            <link rel="stylesheet" href="{{ asset('style.css') }}">


      {% endblock %}



    </head>
    <body>
        {% block body %}





                {% block header %}


            <div class="top-header-bar">
                <div class="container">
                    <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                        <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                            <div class="header-bar-email">
                                MAIL: <a href="#">Solidarity.refugee@gmail.com</a>
                            </div><!-- .header-bar-email -->

                            <div class="header-bar-text">
                                <p>PHONE: <span>+216 24 933 784</span></p>
                            </div><!-- .header-bar-text -->
                        </div><!-- .col -->

                        <div class="col-12 col-lg-4 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                            <div class="donate-btn">
                                <a href="#">Donate Now</a>
                            </div><!-- .donate-btn -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .top-header-bar -->

            <div class="nav-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                            <div class="site-branding d-flex align-items-center">
                                <a class="d-block" href="index.html" rel="home"><img class="d-block" src="{{ asset('images/logo.png') }}" alt="logo"></a>
                            </div><!-- .site-branding -->

                            <nav class="site-navigation d-flex justify-content-end align-items-center">
                                <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                    <li class="current-menu-item"><a href="#">Home</a></li>
                                    <li><a href="{{ path('clubexe') }}">Family</a></li>
                                    <li><a href="{{ path('clubexemple') }}">Association</a></li>
                                    <li><a href="{{ path('show_asso') }}">liste</a></li>

                                    <li><a href="#">Delivery</a></li>

                                    <li><a href="{{ path('fos_user_security_login') }}">Log in</a></li>

                                </ul>
                            </nav><!-- .site-navigation -->

                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </div><!-- .nav-bar -->

{% endblock  %}


                {% block content %}

                {% endblock %}

                {% block footer %}



            <footer class="site-footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <div class="foot-about">
                                    <h2><a class="foot-logo" href="#"><img src="{{ asset('images/foot-logo.png') }}" alt=""></a></h2>

                                    <p>
                                        GlobalGiving connects nonprofits, donors, and companies in nearly every country around the world. We help local nonprofits access the funding, tools, training, and support they need to become more effective. </p>
                                    <ul class="d-flex flex-wrap align-items-center">
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div><!-- .foot-about -->
                            </div><!-- .col -->

                            <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                                <h2>Useful Links</h2>

                                <ul>
                                    <li><a href="#">Privacy Polticy</a></li>
                                    <li><a href="#">Become  a Volunteer</a></li>
                                    <li><a href="#">Donate</a></li>

                                </ul>
                            </div><!-- .col -->

                            <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                                <div class="foot-latest-news">
                                    <h2>Latest News</h2>

                                    <ul>
                                        <li>
                                            <h3><a href="#">A new cause to help</a></h3>
                                            <div class="posted-date">MArch 12, 2018</div>
                                        </li>

                                        <li>
                                            <h3><a href="#">We love to help people</a></h3>
                                            <div class="posted-date">MArch 12, 2018</div>
                                        </li>

                                        <li>
                                            <h3><a href="#">The new ideas for helping</a></h3>
                                            <div class="posted-date">MArch 12, 2018</div>
                                        </li>
                                    </ul>
                                </div><!-- .foot-latest-news -->
                            </div><!-- .col -->

                            <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                                <div class="foot-contact">
                                    <h2>Contact</h2>

                                    <ul>
                                        <li><i class="fa fa-phone"></i><span>+216 24 933 784</span></li>
                                        <li><i class="fa fa-envelope"></i><span>Solidarity.refugee@gmail.com</span></li>
                                        <li><i class="fa fa-map-marker"></i><span>Z.I. Chotrana II B.P. 160,Pôle Technologique El Ghazela - Ariana 2083
</span></li>
                                    </ul>
                                </div><!-- .foot-contact -->

                                <div class="subscribe-form">
                                    <form class="d-flex flex-wrap align-items-center">
                                        <input type="email" placeholder="Your email">
                                        <input type="submit" value="send">
                                    </form><!-- .flex -->
                                </div><!-- .search-widget -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .footer-widgets -->

                <div class="footer-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div><!-- .col-12 -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .footer-bar -->
            </footer><!-- .site-footer -->
                {% endblock  %}


            <script type='text/javascript' src="{{ asset('js/jquery.js') }}"></script>
            <script type='text/javascript' src="{{ asset('js/jquery.collapsible.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('js/swiper.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('js/jquery.countdown.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('js/circle-progress.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('js/jquery.countTo.min.js') }}"></script>
            <script type='text/javascript' src="{{ asset('js/jquery.barfiller.js') }}"></script>
            <script type='text/javascript' src="{{ asset('js/custom.js') }}"></script>




        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
