
{% extends "Admin_homeasso.html.twig" %}
{% block content %}


    <!doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Regular Tables - Tables are the backbone of almost all web applications.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="Tables are the backbone of almost all web applications.">
        <meta name="msapplication-tap-highlight" content="no">
        <!--
        =========================================================
        * ArchitectUI HTML Theme Dashboard - v1.0.0
        =========================================================
        * Product Page: https://dashboardpack.com
        * Copyright 2019 DashboardPack (https://dashboardpack.com)
        * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
        =========================================================
        * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        -->
        <link href="./main.css" rel="stylesheet"></head>
    <body>







    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
                 <div class="app-main">
              <div class="app-main__outer">
                <div class="app-main__inner">


                    <h1> User Table</h1>

                    <div class="row  col-lg-12" >
                        <div >
                            <div class="main-card col-sm-12 mb-3 card">
                                <div class="card-body"><h5 class="card-title">

                                        {# <input type="text" name="tabquest">
                                         <input type="checkbox"  id="tabquest" name="tabquest" value="2">
                                         <a  class="btn gradient-bg  " href="{{ path('test') }}"> <h6>click !! </h6></a>#}





                                        <form  method="POST"  name="f2" id="search_form_12" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                            <div class="search_item">
                                                <div>Role
                                                    <select name="catmat2" id="catmat2" class="dropdown_item_select -center search_input">
                                                        <option>Association</option>
                                                        <option>Family</option>

                                                    </select>                                            </div>
                                            </div>

                                            <input type="submit" class="button search_button" name="rechercher2" value="Search" >



                                        </form>




                                        <table class="mb-0 table">
                                            <thead>
                                            <tr>
                                                <th>id</th>

                                                <th>Name</th>
                                                <th>Username</th>
                                                <th> Tel </th>
                                                <th> Country </th>
                                                <th> Address </th>


                                            </tr>
                                            </thead>
                                            <tbody>


                                            {% for i in usr %}

                                                <tr>
                                                    <td>{{i.id }}</td>
                                                    <td> {{ i.nom }}</td>

                                                    <td> {{ i.username }}</td>
                                                    <td>{{i.tel }}</td>
                                                    <td>{{i.pays }}</td>
                                                    <td>{{i.add }}</td>

                                                    <td> <a href="{{ path ('rmUser', {'id':i.id}) }}">
                                                            Remove </a>
                                                    </td>
                                                    {#   <td> <a href="{{ path ('rma', {'id':i.idquest}) }}">
                                                               Remove </a>
                                                       </td>
                                                       #}
                                                </tr>

                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </h5>
                                </div>

                            </div>
                        </div>

                    </div>
                    <br>
                    <h1> Question Table</h1>
                              <div class="row  col-lg-12" >
                        <div >
                            <div class="main-card col-sm-12 mb-3 card">
                                <div class="card-body"><h5 class="card-title">

                                       {# <input type="text" name="tabquest">
                                        <input type="checkbox"  id="tabquest" name="tabquest" value="2">
                                        <a  class="btn gradient-bg  " href="{{ path('test') }}"> <h6>click !! </h6></a>#}



                                        <form  method="POST"  name="f" id="search_form_1" class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                            <div class="search_item">
                                                <div>Role
                                                <select name="catmat" id="catmat" class="dropdown_item_select -center search_input">
                                                    <option>Admin</option>
                                                    <option>User</option>

                                                </select>
                                                    Rating
                                                    <select name="catmatr" id="catmatr" class="dropdown_item_select -center search_input">
                                                        <option>1-2</option>
                                                        <option>2-3</option>
                                                        <option>3-4</option>
                                                        <option>4-5</option>

                                                    </select>
                                                </div>
                                            </div>

                                            <input type="submit" class="button search_button" name="rechercher" value="Rechercher" >



                                        </form>




                                        <table class="mb-0 table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>idquest</th>
                                            <th>Question</th>
                                            <th> Rep </th>
                                            <th> Date </th>
                                            <th> User </th>


                                        </tr>
                                        </thead>
                                        <tbody>


                                            {% for i in quest %}

                                                <tr>
                                                    <td>{{i.id }}</td>
                                                    <td>{{i.idquest }}</td>

                                                    <td> {{ i.quest }}</td>
                                                    <td>{{i.rep }}</td>
                                                    <td>{{i.date | date }}</td>
                                                    <td>{{i.user }}</td>

                                                    <td> <a href="{{ path ('rmu', {'id':i.id}) }}">
                                                            Remove </a>
                                                    </td>
                                                </tr>

                                            {% endfor %}


                                        </tbody>
                                        </table></h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                 </div>
        </div>
    </div>
    <script type="text/javascript" src="./assets/scripts/main.js"></script></body>
    </html>



{% endblock %}